<% provide(:title, @category.title) %>

<div class="container">
    <row>
      <%= render 'shared/sidebar', categories: @categories %>
      <div class="span8">

        <h2> <%= @category.title %></h2>
        <p><%= link_to "delete category", @category, method: :delete, data: { confirm: "You sure?" } %></p>

        <% if @category.posts.any? %>
            <%= will_paginate @posts %>

            <ul class="posts">
              <%= render @posts %>
            </ul>

            <%= will_paginate @posts %>
        <% else %>
            No posts in this category.
        <% end %>
      </div>
    </row>
</div>
